.benefits {
    padding: 144px 0;
}
.benefits__description {
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.benefits__content {
    display: flex;
    gap: 34px;
    margin-bottom: 80px;
}
.benefits__list {
    display: grid;
    gap: 40px;
}
.benefits__list-item {
    display: flex;
    gap: 32px;
    align-items: center;
}
.benefits__list-item__description {
    max-width: 450px;
}
.benefits__list-item__description-heading {
    font-weight: 700;
    font-size: 32px;
}
.benefits__list-item__description-info {
    font-size: 16px;
    line-height: 150%;
}
.benefits__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits__offer-heading {
    font-weight: 700;
    font-size: 40px;
    
    margin-bottom: 40px;
}