

.header__slider-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 144px;
}

.header__slider-description__heading {
    font-size: 64px;
    line-height: 120%;
    font-weight: 700;

    margin-bottom: 24px;

    max-width: 710px;
}
.header__slider-description__paragraph {
    font-size: 24px;
    line-height: 120%;

    
    max-width: 765px;
}
