.reviews {
    padding: 144px 0;
}
.reviews__heading-wrapper {
    text-align: center;

    font-weight: 700;
    font-size: 64px;

    max-width: 918px;

    margin: 0 auto 80px auto;
}
.reviews__anchor-offer__wrapper {
    display: flex;
    justify-content: center;
}
.reviews__photo {
    margin-bottom: 48px;
}
.reviews__heading {
    font-size: 32px;
    margin-bottom: 24px;
}
.review__status {
    font-weight: 700;
    font-size: 24px;
    color: #0091d2;
    margin-bottom: 32px;
}
.reviews__review {
    font-size: 18px;
    line-height: 150%;
}